{% extends 'base.html' %}
{% block courseActive %}active{% endblock courseActive %}
{% load static %}
{% block content %}

<body>
	<main class="col-xs-12 col-sm-8 col-lg-9 col-xl-10 pt-3 pl-4 ml-auto">
		<header class="page-header row justify-center">
			<div class="col-md-6 col-lg-8">
				<h1 class="float-left text-center text-md-left">Course</h1>
			</div>
			{% if user.is_authenticated %}
			<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a
					class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="{{ user.profile_picture.url }}" alt="profile photo"
						class="circle float-left profile-photo" width="50" height="auto">
					<div class="username mt-1">
						<h4 class="mb-1">{{ user.first_name }}</h4>
						<h6 class="text-muted">{{ user.user_type }}</h6>
					</div>
				</a>
			</div>
			{% else %}
			<div class="col-md-6 col-lg-4 text-center text-md-right"></div>
			{% endif %}
			<div class="clear"></div>
		</header>

		<section class="row">

			<div class="col-sm-12">
				<div class="courses-card-wrapper ">

					<div class="row">
						{% for i in courses %}
						<div class="col-lg-4">

							<div class="card-item">
								<div class="card-wrapper">
									<div class="content">
										<img src="{{i.cover_image.url}}">
									</div>
									<div class="card-item-info">
										<h6>communication</h6>
										<h5>{{i.title}}</h5>
										<div class="info-meta">
											<div class="card-item-meta-block">
												<i class="fa fa-user-o" aria-hidden="true"></i>
												<span>2019</span>
											</div>
											<div class="card-item-meta-block">
												<i class="fa fa-eye" aria-hidden="true"></i>
												<span>3565</span>
											</div>
										</div>
										<div class="info-meta-divider"></div>
										<span></span>
										<div></div>
									</div>
								</div>
								<div class="card-item-popup ml-2">
									<div class="author">
										<img src="{{i.teacher.profile_picture.url}}">
										<span>{{i.teacher.first_name}}</span>
									</div>
									<h3 class="item-popup-title">{{i.title}}</h3>
									<div class="card-item-expert">

										{{i.description}}
										<div class="card-item-popup-meta">
											<div class="card-meta-block">
												<i class="fa fa-signal" aria-hidden="true"></i>
												<span>{{i.leval}}</span>
											</div>
											<div class="card-meta-block">
												<i class="fa fa-bars" aria-hidden="true"></i>
												<span>{{i.lectures}}</span>
											</div>
											<div class="card-meta-block">
												<i class="fa fa-clock-o" aria-hidden="true"></i>
												<span>{{i.durations}}</span>
											</div>
										</div>
										<div class="card-item-popup-button-wrapper">
											Preview this course
										</div>
										<div class="card-bottom-wrapper">
											<div class="card-popup-wishlist">
												<a>
													<i class="fa fa-heart-o" aria-hidden="true"></i>
													<span>Add to wishlist</span>
												</a>
											</div>
											<div class="popup-price">
												<div class="price-single">
													<span>₹ {{i.price}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						{% endfor %}
					</div>

				</div>
			</div>
		</section>
	</main>
</body>
{% endblock %}